
/* webpage base*/
 *{
        font-family:'Roboto', sans-serif;
        color: #222;
        background: #f7f5f0;
        text-align:center;
        box-sizing:border-box;
         margin:0;
        padding:0;
        text-align: center;
 }

 /*image base*/
img {
    width: 200px;
}


/*nav*/
.flex{
    display:flex;
    flex-direction:column;
    list-style-type: none;
}
.item-6, .item-7, .item-8{
    display: none;
}

.item-10{
padding-left:38%;
}
/*footer*/
.flex1{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    
}
.flex1{
    display: flex;
    justify-content: space-evenly;
}


.item{
  background:ghostwhite;  
  font-weight: bold;
  margin: 2px;
  color:black;
}
/*body*/
.row {
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap:wrap;
}
.search{
    margin: 10px;
    text-align:center;
}
.me{
    text-align: center;
}



@media screen and (min-width:768px){
   
     /*top nav*/
    .flex{
        display:flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
    }
    header{
        display: flex;
        align-items: center;
    }
    header h1 {
        margin-right:auto;
    }
    .item{
        margin-right: 10px;
    }
   
    .row {
        display:flex;
        flex-direction:row;
    }
    .item-6, .item-7, .item-8{
        display: table
    }
    .item-10{
        display: none;
    }

    .search{
        margin:40px;
        width: 25%;
    }

    .item-1{
        margin-right:auto;
    }
    header{
        display: flex;
        align-items: center;
    }
    header h1 {
        margin-right:auto;
    }
    

}

@media screen and (min-width:1024px){
    
    /*top nav*/
    .flex{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: flex-end;
        list-style-type: none;
    }
    .item{
        background:none;
        padding:0;
        margin-right: 6px;
        color:black;
      }


    .item-1{
        margin-right:auto;
    }
    .item-10{
        display:none;
    }

    .row {
        display:flex;
        flex-direction:row;
    }
  
    .me{
        text-align: center;
    }
    header{
        display: flex;
        align-items: center;
    }
    header h1 {
        margin-right:auto;
    }
    .stuff{
        display:flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .bio{
        margin-right: auto;
        width: 400px;
    }
    
   
}


